<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Backbone.js using RESTful API for CRUD interactions</title>
</head>
<body>
  <!-- ==== -->
  <!-- HTML -->
  <!-- ==== -->

  <h2>Beer app</h2>

  <div id="container">Loading...</div>

  <!-- ========= -->
  <!-- Libraries -->
  <!-- ========= -->

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore.js" type="text/javascript"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.3.3/backbone.js" type="text/javascript"></script>
  
  <!-- =============== -->
  <!-- Javascript code -->
  <!-- =============== -->

  <script type="text/javascript">


    var Beer = Backbone.Model.extend({

      defaults: {
        "name": "defaultName",
        "likes": "defaultLikes",
      },

      id: 2,  // This can be changed later to start at the beginning. It's here because the first data point (id = 1) is missing.

      initialize: function(){  // This is just here to show where it would go.
              // console.log('Beer has been intialized');
      },

      parse: function (response) {  // This is necessary because the RESTful API returns an object and backbone.js' fetch() is not automatically setting these attributes. It would be better as a loop.
            this.set("id", response[0].id);
            this.set("name", response[0].name);
            this.set("likes", response[0].likes);
            return true;
      },

      urlRoot: 'http://beer.fluentcloud.com/v1/beer',  // This only needs to be here if you're using the app to show a single beer.

      url: function() {
        return this.urlRoot + '/' + this.id++;
      }

    });

    var BeerCooler = Backbone.Collection.extend({
      // model: Beer,
      initialize: function() {  // For some reason the collection's model has to be indicated like this as opposed to using "model: beer".
        var beer = new Beer();
      },
      url: 'http://beer.fluentcloud.com/v1/beer',

    });

    var AppView = Backbone.View.extend({

      el: '#container',

      template: _.template("<%= id %>: <strong>Beer name: </strong><%= name %> <br><strong>Number of likes: </strong><%= likes %><br><br>"),

      initialize: function() {  //  cf. http://chilipepperdesign.com/2013/01/15/backbone-js-bind-callback-to-successful-model-fetch/
        this.collection.on('change', this.render, this);
        console.log('view init touched');
        this.collection.fetch({
            headers: {  //  This header must be declared to initialize the CORS spoofer.
                 'Content-Type': 'application/json'
            }
        });
        this.render();
      },

      // render: function() {
      //   this.$el.html(this.template(this.model.attributes));
      //   return this;  // To enable chaining when you want to show more than one beer.
      // }

      render: function() {
        console.log('activated render');
        console.log(this.collection);
        this.collection.each(function(model){
          console.log(model); 
        });
        // for (model in this.collection){
        //   console.log(model);
        // }
        // for n this.collection){
        //   console.log(model);
        // }

      }

    });

    var beerCooler = new BeerCooler();
    // beerCooler.fetch();
    // console.log(beerCooler);
    // var appView = new AppView({model: beer});
    var appView = new AppView({collection: beerCooler});

  </script>
  
</body>
</html>